node_modules
.env

# Prisma
/generated/prisma
/prisma/dev.db
/prisma/dev.db-journal

# Системні файли macOS
.DS_Store

# Збірка (React/Node)
dist
build
.cache

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*